<!-- <body>
  <div class="container">
    <h1>{{title}}</h1>
    <libro></libro>
    <button (click)="ocultar_Pelicula(false)" *ngIf="mostrar_Pelicula">Ocultar</button>
    <button (click)="ocultar_Pelicula(true)" *ngIf="!mostrar_Pelicula">Mostrar</button>
    <app-peliculas *ngIf="mostrar_Pelicula"></app-peliculas>
    
    <app-articulos></app-articulos>
  </div>
</body> -->

<router-outlet>
  <nav class="sidebar">
    <div class="logo-details">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
        <path d="M2 8v11.529S6.621 19.357 12 22c5.379-2.643 10-2.471 10-2.471V8s-5.454 0-10 2.471C7.454 8 2 8 2 8z" fill="#eea849"/>
        <circle cx="12" cy="5" r="3" fill="#f46b45" /></svg> -->
      <!-- <img src="../assets/img/bxs-book-reader.svg" alt=""> -->
      <i class="bx bx-book-reader"></i>
    </div>
    <ul>
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">
          <i class='bx bx-home'></i>
        </a>
        <span class="tooltip">Home</span>
      </li>

      <li>
        <a [routerLink]="['/articulos']" [routerLinkActive]="['active']">
          <i class="bx bx-package"></i>
        </a>
        <span class="tooltip">Articulos</span>
      </li>

      <li>
        <a [routerLink]="['/libro']" [routerLinkActive]="['active']">
          <i class="bx bx-book"></i>
        </a>
        <span class="tooltip">Libro</span>
      </li>

      <li>
        <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">
          <i class="bx bx-film"></i>
        </a>
        <span class="tooltip">Peliculas</span>
      </li>

      <li>
        <a [routerLink]="['/externo']" [routerLinkActive]="['active']">
          <i class="bx bx-file"></i>
        </a>
        <span class="tooltip">Externo</span>
      </li>

    </ul>

  </nav>
</router-outlet>
