<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae omnis! Magnam rerum accusamus quisquam a voluptatum. Fuga dolorem eos laborum, ea quam quis quisquam debitis, modi et vero nihil voluptas exercitationem laudantium perspiciatis fugiat ipsum possimus molestias, esse provident nam nemo temporibus autem? Ipsa dolorem ab facilis assumenda et veniam minus quam est ex iusto molestiae dolores consequuntur laborum eaque maxime quod ducimus sint facere fugiat cum debitis, dolore esse exercitationem doloribus. Veniam, provident sunt? Ut, labore, ea mollitia tenetur voluptates eaque tempore minima illo id delectus pariatur! Quaerat similique dolor neque sapiente ea, dolores modi expedita libero id.</p>
</article>