<div class="container">
  <ng-template [ngIf]="tema == 1">
    <h1 id="categoria">Literatura</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 2">
    <h1 id="categoria">Misterio</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 3">
    <h1 id="categoria">Romance</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 4">
    <h1 id="categoria">Politica</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 5">
    <h1 id="categoria">Bienestar</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 6">
    <h1 id="categoria">Sagas</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 7">
    <h1 id="categoria">Comic</h1>
  </ng-template>
  <ng-template [ngIf]="tema == 8">
    <h1 id="categoria">Negocios</h1>
  </ng-template>

  <section class="libros">
    <div class="grid">
      <div class="card" *ngFor="let book of bookService.books">

        <ng-template [ngIf]="tema == 1">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../assets/img/literatura/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>
          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 2">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/misterio/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 3">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/romance/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 4">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/politica/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 5">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/bienestar/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 6">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/sagas/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 7">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/comic/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>
        <ng-template [ngIf]="tema == 8">
          <a [routerLink]="['/preview', book._id]">
            <img src="../../../assets/img/negocios/{{book.imagen}}" alt="">
          </a>
          <h3>{{book.titulo}}</h3>
          <h4>{{book._id}}</h4>
          <span>
            <a href="">
              <i class="bx bx-heart"></i>
            </a>
            <i class="bx bx-cart" (click)="addToCart(book._id!, book.titulo, book.precio, book.imagen, book.tema)"></i>

          </span>
        </ng-template>

      </div>
    </div>
  </section>
</div>
