<div class="container">
<h2>Projects</h2>
<u>
  <li *ngFor="let project of projects" class="project">
    <a [routerLink]="['/proyecto',project._id]">
      <div class="image">
        <img src="{{url+'get-image/'+project.imagen}}" *ngIf="project.imagen">
      </div>
      <h3>{{project.nombre}}</h3>
      <p>{{project.semestre}}</p>
    </a>
    <div>
      <button class="btn btn-danger" (click)="deleteProject(project._id)">Delete</button>
      <a class="btn btn-warning" [routerLink]="['/editar-proyecto/'+project._id]">Edit</a>
    </div>
  </li>
</u>
</div>
