<div class="container">
  <h2 class="titulo">{{titulo}}</h2>

  <form class="form" #proyectoForm="ngForm" (ngSubmit)="onSubmit(proyectoForm)">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input class="form-control" type="text" name="nombre" #name="ngModel" [(ngModel)]="project.nombre" />
    </div>

    <div class="form-group">
      <label for="semestre">Semestre</label>
      <input type="text" class="form-control" name="semestre" #semestre="ngModel" [(ngModel)]="project.semestre">
    </div>

    <div class="form-group">
      <label for="materia">Materia</label>
      <input class="form-control" type="text" name="materia" #materia="ngModel" [(ngModel)]="project.materia" />
    </div>

    <div class="form-group">
      <label for="anio">Año</label>
      <input class="form-control" type="number" name="anio" #anio="ngModel" [(ngModel)]="project.anio" />
    </div>

    <div class="form-group">
      <label for="image">Imagen</label>
      <input class="form-control" type="file" name="imagen" (change)="fileChangeEvent($event)" />
    </div>

    <!-- <input  type="submit" value="Enviar" /> -->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</div>
