.externo {
  font-family: 'Poppins', serif;
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

img {
  border-radius: 50%;
  text-align: center;
  align-items: center;
  margin: 20px 0px;
}
