.externo {
    font-family: 'Poppins', serif;
    width: calc(100% - 100px);
    margin-left: 100px;
    padding: 20px;
  }
  
  h2 {
    font-size: 2em;
    text-align: center;
  }
  
  p {
    font-size: 1.5em;
  }
  